fastapi==0.115.14
uvicorn[standard]==0.35.0
sqlalchemy==2.0.41
psycopg[binary]==3.2.9
python-jose[cryptography]==3.5.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
pydantic==2.11.7
httpx==0.28.1
alembic==1.16.2
redis==6.2.0
celery==5.5.3
faker==37.4.0
pandas==2.3.0
numpy==2.3.1
scikit-learn==1.7.0
networkx==3.5
xgboost==3.0.2
prophet==1.1.7
